<h1>Users</h1>
<a href="/users/new">New User</a>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <a href="/users/<%= user.id %>/edit">Edit</a>
          <a href="/users/<%= user.id %>/posts">New Post</a>
          <form action="/users/<%= user.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= flash[:success] %>